/* PHASE 2: Navigation */

.header-logo {
  float: left;
  font-weight: bold;
  border-right: 1px solid #eee;
}

.header-logo:hover {
  background-color: #000;
}

.header-list {
  float: right;

}

.header-list > li {
  float: left;
}

.header-list > li:hover {
  background-color: #000;
}
