/* PHASE 4: Footer */

.footer {
  margin: 0 auto;
  width: 900px;
  background-color: magenta;
  border-bottom: 1px solid #magenta;
  border-left: : 1px solid #magenta;
  border-right: : 1px solid #magenta;
}

.footer-copy {
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
}

.footer a {
  padding: 20px;
}

.footer a:hover {
  color: #000;
}
